[submodule "execs/python/bocpdms"]
	path = execs/python/bocpdms
	url = https://github.com/GjjvdBurg/bocpdms
	branch = fixes
[submodule "execs/python/rbocpdms"]
	path = execs/python/rbocpdms
	url = https://github.com/GjjvdBurg/rbocpdms
	branch = fixes
[submodule "execs/python/adaga"]
	path = execs/python/adaga
	url = https://github.com/lasgroup/adaga.git
